<div class="brands-bar">
  <span class="quadro">
    <a href="https://www.purina.pt/" target="_blank"><%= image_tag 'https://www.stickpng.com/assets/images/5ae22df933b73fa43b1a8946.png', width: 130 %></a>
  </span>
  <span class="quadro">
    <a href="https://www.petness.pt/" target="_blank"><%= image_tag 'https://media1.deco.proteste.pt//images/716B62B32E98AB545EEC9D431752BACF13505E65/h300-c4/Lojas-online-PETNESS-.jpg', width: 130 %></a>
  </span>
  <span class="quadro">
    <a href="https://www.pedigree.pt/" target="_blank"><%= image_tag 'https://seeklogo.com/images/P/Pedigree-logo-0B0352F571-seeklogo.com.png', width: 110 %></a>
  </span>
  <span class="quadro">
    <a href="https://www.tiendanimal.pt/" target="_blank"><%= image_tag 'https://assets.tiendanimal.pt/img/portugues/logo-ta-webhome-vector.svg', width: 110 %></a>
  </span>
  <span class="quadro">
    <a href="https://www.royalcanin.com/pt" target="_blank"><%= image_tag 'https://logos-download.com/wp-content/uploads/2016/12/Royal_Canin_logo_logotipo.png', width: 110 %></a>
  </span>
  <span class="quadro">
    <a href="https://hospitalveterinario.eu" target="_blank"><%= image_tag 'https://hospitalveterinario.eu/wp-content/uploads/2018/03/hvl-logo_v2.png', width: 110 %></a>
  </span>
</div>









