<div class="card-trip">
          <div class="card-topo">
            <div class= "gender-tag">
              <% if dog.gender === "Male" %>
                <div class="bolinha"></div>
                <div><h6 id= "male"><i class='fas fa-mars'></i></h6></div>
              <% else %>
                <div class="bolinha"></div>
                <div><h6 id="female"><i class='fas fa-venus'></i></h6></div>
              <% end  %>
            </div>
            <div class="card-image">
              <%= link_to dog_path(dog) do %>
              <% if dog.pictures.first.nil? %>
                <%= image_tag 'dog-face.png' %>
                <% else %>
                <%= cl_image_tag dog.pictures.first.photo, height: 300, width: 400, crop: :fill %>
                <% end  %>
              <% end  %>
            </div>
          </div>
          <div class="card-trip-infos">
            <div class="w-100">
                <h2><%= dog.name %></h2>
                <p><%= dog.city.capitalize()%></p>
              <div class="d-flex justify-content-between">
                <h6 class="grayy"><i class="fas fa-arrows-alt-v bluee"></i>&nbsp<i class="fas fa-dog"></i>&nbsp<strong><%= dog.size.first.upcase%></strong></h6>
                <% if dog.average_rating.nan? %>
                  <h6 class="grayy"><i class="fas fa-star yelloww"></i>&nbsp --</h6>
                <% else %>
                  <h6 class="grayy"><i class="fas fa-star yelloww"></i>&nbsp <%= dog.average_rating %></h6>
                <% end  %>
                <h6 class="grayy"> <%= dog.age %>&nbsp<small>y/o</small></h6>
              </div>
            </div>
          </div>
