<div class="container">
  <div class="row">
    <div class="col" id="edit">
      <%= simple_form_for @dog do |f| %>
      <%= f.input :name%>
      <%= f.input :description%>
      <%= f.input :size,  collection: [ "Small", "Medium", "Large"]%>
      <%= f.input :breed%>
      <%= f.input :gender, collection: [ "Male", "Female"]%>
      <%= f.input :location%>
      <%= f.button :submit, "Update", class:"btn btn-primary" %>
      <% end %>
    </div>
    <div class="col">
      <%= simple_form_for [@dog, @picture], method: :post do |f| %>
      <%= f.input :photo %>
      <%= f.input :photo_cache, as: :hidden %>
      <%= f.submit 'Upload Photo', class: "btn btn-primary" %>
      <% end %>
    </div>

      <div class="container">
        <div class="row">
        <% pictures = @dog.pictures %>
        <% pictures.each do |picture| %>

          <div class="col">
            <%= cl_image_tag picture.photo, height: 300, width: 400, crop: :fill %>
            <small><%= link_to 'Delete Photo', dog_picture_path(@dog, picture), method: :delete ,class: "btn btn-danger", data: {confirm: "Are you sure?"}%></small>
          </div>
        <% end %>
        </div>
      </div>



    <div class="col">
      <%= link_to 'Go back', user_path(@dog.user_id), class: 'btn btn-primary mt-1'%>
    </div>
  </div>
</div>


