<h2 class="maintitle"> edit your dog:</h2>
<div class="container">
  <div class="row">
    <div class="col generic-form" id="edit">
      <%= simple_form_for @dog do |f| %>
      <%= f.input :name%>
      <%= f.input :description%>
      <%= f.input :size,  collection: [ "Small", "Medium", "Large"]%>
      <%= f.input :breed%>
      <%= f.input :gender, collection: [ "Male", "Female"]%>
      <%= f.input :location%>
      <%= f.button :submit, "Update", class:"btn-generic" %>
      <% end %>
      <%= link_to 'Go back', user_path(@dog.user_id), class: 'btn-generic fundo-cinza'%>
    </div>
    <div class="col">
      <div class="row">
        <% pictures = @dog.pictures %>
        <% pictures.each do |picture| %>

      <div class="col picture">
        <%= cl_image_tag picture.photo, height: 300, width: 400, crop: :fill %>
        <small><%= link_to 'Delete Photo', dog_picture_path(@dog, picture), method: :delete ,class: "btn-generic deletar", data: {confirm: "Are you sure?"}%></small>
      </div>
        <% end %>
      </div>

      <div class="row generic-form space-top">
        <%= simple_form_for [@dog, @picture], method: :post do |f| %>
        <%= f.input :photo %>
        <%= f.input :photo_cache, as: :hidden %>
        <%= f.submit 'Upload', class: "btn-generic" %>
        <% end %>
      </div>
    </div>
</div>



