<div class="container">
  <h2 class="mt-5 mb-2">Check all out our dogs!</h2>
  <div class="cards">
    <% @dogs.each do |dog|%>
    <div class="card-trip">
      <%= link_to dog_path(dog) do %>
      <% if dog.pictures.first.nil? %>
        <%= image_tag 'dog-face.png' %>
        <% else %>
        <%= cl_image_tag dog.pictures.first.photo, height: 300, width: 400, crop: :fill %>
        <% end  %>
      <% end  %>
      <div class="card-trip-infos">
        <div>
            <h2><%= dog.name %></h2>
            <p><%= dog.location %></p>
          <div class="d-flex justify-content-between">
            <h6><i class="fas fa-arrows-alt-v"></i><i class="fas fa-dog"></i> S </h6>
            <h6> <%= dog.age %><small>y/o</small></h6>
          </div>
        </div>
      </div>
    </div>
    <% end %>
  </div>
</div>

