<div class="d-flex">
  <div class="index-products col-8">
    <% if @length == 0 %>
      <h3 class="mt-5 mb-2">Sorry, we couldn't find any results for your search :(</h3>
      <h4>See other dogs:</h4>
    <% end %>
    <% if @filter.values.join != "" %>
      <% filters = @filter.delete_if {|k,v| v == ""} %>
      <% filters.values.each do |param| %>
      <btn class="btn btn-outline-secondary">
        <i class="fas fa-filter"><%= param %></i>
        </btn>
      <% end %>
    <% end %>
      <div class="cards">
        <% @dogs.each do |dog|%>
        <div class="card-trip">
          <%= link_to dog_path(dog) do %>
          <% if dog.pictures.first.nil? %>
            <%= image_tag 'dog-face.png' %>
            <% else %>
            <%= cl_image_tag dog.pictures.first.photo, height: 300, width: 400, crop: :fill %>
            <% end  %>
          <% end  %>
          <div class="card-trip-infos">
            <div class="w-100">
                <h2><%= dog.name %></h2>
                <p><%= dog.city.capitalize()%></p>
              <div class="d-flex justify-content-between">
                <h6 class="grayy"><i class="fas fa-arrows-alt-v bluee"></i>&nbsp<i class="fas fa-dog"></i>&nbsp<strong><%= dog.size.first.upcase%></strong></h6>
                <h6 class="grayy"><i class="fas fa-star yelloww"></i>&nbsp 4.6 </h6>
                <h6 class="grayy"> <%= dog.age %>&nbsp<small>y/o</small></h6>
              </div>
            </div>
          </div>
        </div>
        <% end %>
      </div>
  </div>
    <div
      id="map"
      class="col-4"
      style="width: 100%; height: calc(100vh - 70px)"
      data-markers="<%= @markers.to_json %>"
      data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
    </div>
</div>



<!-- To implement instant search -->

<!--    <div class="ais-InstantSearch">
 -->
<!--       <h1>InstantSearch.js e-commerce demo</h1>
      <div class="right-panel">
        <div id="searchbox"></div>
        <div id="hits"></div>
        <div id="pagination"></div>
      </div> -->
      <!-- </div> -->

