<h1 class="maintitle">Add your puperity!</h1>

<div class="container">
  <div class="row">
    <div class="col generic-form" id="edit">
      <%= simple_form_for @dog do |f| %>
      <%= f.input :name%>
      <%= f.input :description%>
      <%= f.input :size,  collection: [ "Small", "Medium", "Large"]%>
      <%= f.input :breed%>
      <%= f.input :gender, collection: [ "Male", "Female"]%>
      <%= f.input :age%>
      <%= f.input :location%>
      <%= f.input :city%>
      <%= f.button :submit, "Update", class:"btn-generic", method: :post %>
      <% end %>
      <%= link_to 'Go back', user_path(current_user), class: 'btn-generic fundo-cinza mt-1 center-block'%>
    </div>
</div>


