<% if @dog.pictures.length == 1 %>
    <div class="banner-showpage" style="background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)), url(<%= cl_image_path @dog.pictures.first.photo %>);"></div>
<% elsif @dog.pictures.length == 2 %>
    <div class="row">
      <div class="col banner-showpage" style="background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)), url(<%= cl_image_path @dog.pictures.first.photo %>);"></div>
      <div class="col banner-showpage" style="background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)), url(<%= cl_image_path @dog.pictures.second.photo %>);"></div>
    </div>
<% elsif @dog.pictures.length == 3 %>
  <section class="showpage">
    <div class="item item-a" style="background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)), url(<%= cl_image_path @dog.pictures.first.photo %>);"></div>
    <div class="item item-b" style="background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)), url(<%= cl_image_path @dog.pictures.second.photo %>);"></div>
    <div class="item item-c" style="background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)), url(<%= cl_image_path @dog.pictures[2].photo %>);"></div>
  </section>
<% end %>

<div class="doginfo">
  <span>
    <h3>SIZE:</h3>
    <h4><%= @dog.size %></h4>
  </span>
    <span>
    <h3>AGE:</h3>
    <h4><%= @dog.age %></h4>
  </span>
  <span>
    <h3>BREED:</h3>
    <h4><%= @dog.breed %></h4>
  </span>
  <span>
    <h3>GENDER:</h3>
    <h4><%= @dog.gender %></h4>
  </span>
  <span>
    <h3>Rating:</h3>
    <% if @dog.average_rating.nan? %>
      <h4>--</h4>
    <% else %>
      <h4><%= @dog.average_rating %></h4>
    <% end %>
  </span>
</div>


<div class="container form-show-page">
  <div class="d-flex justify-content-between align-items-start">
    <div class="flex-grow-1">
      <div class="row">
        <div class="col-md textprofile mt-5">
          <h4 class="othertitle">Hello, I'm <%= @dog.name %>!</h4>
          <p class="text-black-small"><%= @dog.city.capitalize() %></p>
          <div class="border-top border-bottom mb-4">
            <p class="text-black-small mt-2 "><%= @dog.description %></p>
          </div>
        </div>
      </div>
      <div
      id="map"
      style="width: 100%; height: 400px"
      data-markers="<%= @markers.to_json %>"
      data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
    </div>
    <p><small> <%= @dog.location %></small></p>
    <div class="border-bottom">
      <% @dog.reviews.each do |review| %>
      <div class="d-flex align-items-start">
        <%= cl_image_tag review.booking.user.photo, class: "avatar" %>
        <div class="ml-4">
          <p class="mb-0"><strong><%= review.booking.user.first_name %></strong></p>
          <p><small><%= review.created_at.strftime("%B %Y") %></small></p>
        </div>
      </div>
      <p><%= '⭐️'* review.rating %><small><%= review.rating %>/10</small></p>
      <p class="mb-2"><%= review.description %></p>
      <% end %>
    </div>
    </div>
    <div class="calendar px-4 py-2 m-5">
      <p class = "widget-content" data-id="<%= @dog.unavailable_dates.to_json %>"></p>
      <h4 class="othertitle">Book <%= @dog.name.split.first %>:</h4>
      <div class="generic-form paddingb">
      <%= simple_form_for [@dog, @booking]  do |f| %>
        <%= f.input :start_date, as: :string, label: "Dates", placeholder: "From", wrapper_html: { class: "inline_field_wrapper" } %>
        <%= f.input :end_date, as: :string, label: '&nbsp;'.html_safe, placeholder: "To", disabled: true, wrapper_html: { class: "inline_field_wrapper" } %>
        <%= f.submit :book, class:"btn-generic w-100" %>
      <% end %>
    </div>
  </div>
</div>

