<%= render 'components/user-details' %>


<div class="owndogs">
  <% @user.dogs.each do |dog| %>
    <div class="dogs-bar">
      <span class="centered">
        <% if dog.pictures.first.nil? %>
          <%= image_tag 'dog-face.png' , :class => "dog-pic"%>
        <% else %>
        <%= cl_image_tag dog.pictures.first.photo, class: "avatar-dog" %>
        <% end  %>
      </span>
      <span>
        <h3>DOG'S NAME:</h3>
        <h4><%= link_to dog.name, dog_path(dog) %></h4>
      </span>
      <span>
       <h3>DESCRIPTION:</h3>
        <h4><%= dog.description %></h4>
      </span>
      <span class="buttons">
        <%= link_to 'Edit dog', edit_dog_path(dog), class: 'btn-cinza-clean'%>
      </span class="buttons">
      <span>
        <%= link_to 'Delete dog', dog_path(dog),method: :delete, class: 'btn-delete', data: {confirm: "Are you sure?"}%>
      </span>
    </div>
    <%end%>
</div>




